<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Twilio 2FA Bot</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Sign in</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Twilio 2FA Bot</h3>
      </div>

      <div class="jumbotron">
        <h1>Twilio Scrapper</h1>
        <p class="lead">Here you will find all Twilio 2FA Codes that arrived to shared Twilio number in @netguru.pl domain.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign in</a></p>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Netguru Sp. z o.o.</p>
      </footer>

    </div>
  </body>
</html>
