<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Twilio 2FA Bot - Messages</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
        </nav>
        <h3 class="text-muted">Twilio 2FA Bot</h3>
      </div>

      <div class="jumbotron">
        {{#if messages.length}}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>From</th>
                <th>Content</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>
              {{#each messages as |message|}}
                <tr>
                  <td>{{message.sender}}</td>
                  <td>{{message.content}}</td>
                  <td>{{message.createdAt}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <h3>No messages!</h3>
        {{/if}}
      </div>

      <footer class="footer">
        <p>&copy; 2016 Netguru Sp. z o.o.</p>
      </footer>

    </div>
  </body>
</html>
